.catalog {
    flex: 1 1 auto;

    &__content {
        display: flex;
        padding: 30px 0;
    }

    &__sort-care-type {
        display: flex;
        flex-wrap: wrap;
    }

    &__sort-care-type-item {
        text-align: center;
        padding: 10px 8px;
        margin: 0 10px 0 0;
        max-width: 120px;
        display: flex;
        align-items: center;
        background-color: $color_1;
        color: $color_3;
        border-radius: 10px;
        margin: 0 10px 15px 0;

        &:last-child {
            margin: 0 20px 15px 0;
        }

        &.active {
            background-color: $color_6;
        }
    }
}

@media (max-width: 963px) {
    .catalog {
    
        &__content {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
        }
    
        &__sort-care-type {
            display: none;
        }
    }
}